/**
*   Styles Created by Raphael Osaze Eyerin
*   on May 21 2019
*/

/* import google roboto font*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,900i&display=swap');

:root {
    --greyColor: #707070;
    --dimWhite: azure;
    --lightGrey: #CCCCCC;
}

/* Overriding bootstrap background color with !important */
body {
    background: black !important;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    background: #304ffe;
    height: 100vh;
    border: 8px solid white;
    position: relative !important;
    padding: 100px 170px !important;
}

.book-name {
    color: var(--lightGrey);
    margin-top: 35px;
    font-weight: bold;
    font-size: 15px;
}

.book-title {
    color: var(--dimWhite);
    font-size: 38px;
    font-weight: bolder;
    margin-bottom: 80px;
}

.total-time {
    color: var(--lightGrey);
    font-size: 15px;
    font-weight: bold;
}

.timer-div {
    background:black;
    position: absolute;
    bottom: 90px !important;
    height: 200px;
    width: 70%;
    left: 15%;
    box-shadow: 10px 10px 40px 25px rgba(0, 0, 0, 0.4);
    padding: 50px;
}

.time-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-wrap span {
    display: inline-block;
    margin-right: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-wrap span:last-child {
    margin-right: 0px;
}

.time-wrap > span > h1 {
    font-size: 48px;
    font-weight: bolder;
}

.time-wrap > span > p {
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--greyColor);
    font-size: 14px;
    cursor: pointer;
}

/* use important on colour to override time-wrap color: white style */
.time-divider {
    font-weight: bolder;
    color: var(--greyColor) !important;
    font-size: 20px;
}

.active-msg {
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-top: -10px;
    margin-right: 45px;
    font-size: 16px;
    text-align: right;
    color: var(--greyColor);
    font-weight: bold;
}

.time-actions {
    text-align: center;
    margin-top: 40px;
}

.time-actions h5 {
    display: inline-block;
    text-transform: uppercase;
    color: var(--dimWhite);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.time-actions h5:first-child {
    margin-right: 150px;
}

@media screen and (max-width: 1000px) {
    
    .container {
        padding: 20px 50px !important;
    }

    .book-name {
        margin-top: 150px;
        font-size: 15.5px;
    }
    
    .book-title {
        font-size: 21px;
        margin-bottom: 100px;
    }
    
    .total-time {
        font-size: 15.5px;
        font-weight: bold;
    }
    
    .timer-div {
        bottom: 90px !important;
        height: 150px;
        width: 90%;
        left: 5%;
        padding: 40px;
    }

    .time-wrap span {
        margin-right: 40px;
    }

    .time-wrap span:last-child {
        margin-right: 0px;
    }

    .time-wrap > span > h1 {
        font-size: 30px;
        font-weight: bolder;
    }

    .time-wrap > span > p {
        font-size: 15.5px;
    }

    /* use important on colour to override time-wrap color: white style */
    .time-divider {
        font-size: 20px;
    }

    .active-msg {
        margin-top: -12px;
        margin-right: 25px;
        font-size: 15.5px;
    }

    .time-actions {
        text-align: center;
        margin-top: 40px;
    }

    .time-actions h5 {
        font-size: 14px;
        font-weight: bold;
    }

    .time-actions h5:first-child {
        margin-right: 120px;
    }
}



@media screen and (max-width: 800px) {
    
    .container {
        padding: 20px 50px !important;
    }

    .book-name {
        margin-top: 150px;
        font-size: 14.5px;
    }
    
    .book-title {
        font-size: 21px;
        margin-bottom: 100px;
    }
    
    .total-time {
        color: var(--lightGrey);
        font-size: 14.5px;
        font-weight: bold;
    }
    
    .timer-div {
        bottom: 90px !important;
        height: 150px;
        width: 90%;
        left: 5%;
        padding: 40px;
    }

    .time-wrap span {
        margin-right: 20px;
    }

    .time-wrap span:last-child {
        margin-right: 0px;
    }

    .time-wrap > span > h1 {
        font-size: 28px;
        font-weight: bolder;
    }

    .time-wrap > span > p {
        font-size: 14px;
    }

    /* use important on colour to override time-wrap color: white style */
    .time-divider {
        font-size: 18px;
    }

    .active-msg {
        margin-top: -12px;
        margin-right: 34px;
        font-size: 14.5px;
    }

    .time-actions {
        text-align: center;
        margin-top: 40px;
    }

    .time-actions h5 {
        font-size: 13px;
        font-weight: bold;
    }

    .time-actions h5:first-child {
        margin-right: 120px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        padding: 20px 50px !important;
    }

    .book-name {
        margin-top: 150px;
        font-size: 14px;
    }
    
    .book-title {
        font-size: 20px;
        margin-bottom: 100px;
    }
    
    .total-time {
        color: var(--lightGrey);
        font-size: 14px;
        font-weight: bold;
    }
    
    .timer-div {
        bottom: 90px !important;
        height: 150px;
        width: 90%;
        left: 5%;
        padding: 40px;
    }

    .time-wrap span {
        margin-right: 20px;
    }

    .time-wrap span:last-child {
        margin-right: 0px;
    }

    .time-wrap > span > h1 {
        font-size: 25px;
        font-weight: bolder;
    }

    .time-wrap > span > p {
        font-size: 12px;
    }

    /* use important on colour to override time-wrap color: white style */
    .time-divider {
        font-size: 18px;
    }

    .active-msg {
        margin-top: -12px;
        margin-right: 5px;
        font-size: 14px;
    }

    .time-actions {
        text-align: center;
        margin-top: 40px;
    }

    .time-actions h5 {
        font-size: 13px;
        font-weight: bold;
    }

    .time-actions h5:first-child {
        margin-right: 120px;
    }
}