/**
*   Styles Created by Raphael Osaze Eyerin
*   on May 21 2019
*/

/* Overriding bootstrap background color with !important */
:root {
    --greyColor: #707070;
    --dimWhite: #FEFEFA;
}

body {
    background: black !important;
    font-size: 16px;
    font-family: sans-serif;
}

.container {
    background: #304ffe;
    height: 100vh;
    border: 8px solid white;
    position: relative !important;
    padding: 100px 170px !important;
}

.book-name {
    color:  #CCCCCC;
    margin-top: 35px;
    font-weight: bold;
}

.book-title {
    color: var(--dimWhite);
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 80px;
}

.total-time {
    color: #CCCCCC;
    font-size: 16px;
    font-weight: bold;
}

.timer-div {
    background:black;
    position: absolute;
    bottom: 90px !important;
    height: 200px;
    width: 70%;
    left: 15%;
    box-shadow: 10px 10px 40px 25px rgba(0, 0, 0, 0.4);
    padding: 50px;
}

.time-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-wrap span {
    display: inline-block;
    margin-right: 60px;
    color: white;
}

.time-wrap span:last-child {
    margin-right: 0px;
}

.time-wrap > span > h1 {
    font-size: 48px;
    font-weight: bolder;
}

.time-wrap > span > p {
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--greyColor);
    font-size: 14px;
}

/* use important on colour to override time-wrap color: white style */
.time-divider {
    font-weight: bolder;
    color: var(--greyColor) !important;
    font-size: 20px;
}

.active-msg {
    text-align: right;
    color: var(--greyColor);
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-top: -10px;
    margin-right: 40px;
}

.time-actions {
    text-align: center;
    margin-top: 40px;
}

.time-actions h5 {
    display: inline-block;
    text-transform: uppercase;
    color: var(--dimWhite);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.time-actions h5:first-child {
    margin-right: 140px;
}
